* {
  font-family: 'Heebo', sans-serif;
  text-transform: uppercase;
}

body {
  margin: 0px;
}

.hero {
  background-image: url('../assets/background.jpg');
  background-attachment: fixed;
  background-size : cover;
  background-repeat: no-repeat;
  height: 100vh;
}

h1, h2 {
  color: white;
  text-shadow: 0 0 10px #ed79bf;
  letter-spacing: 6px;
}

h1 {
  font-size: 76px;
  font-weight: bold;
}

h2 {
  font-size: 50px;
  letter-spacing: 6px;
  padding: 10px 10px 30px 10px;
}

.title {
  border: 5px solid white;
  -webkit-box-shadow: 0 0 10px #ed79bf;
  box-shadow: 0 0 10px #ed79bf;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 27%;
  margin-top: -50px;
  margin-left: -50px;
  width: 750px;
  height: 300px;
}

.banner {
  height: 20vh;
  width: 100vw;
  margin: 20px 0px 20px 0px;
  text-align: center;
  font-size: 40px;
  color: white;
  text-shadow: 0 0 10px #ed79bf;
  background-image: url('../assets/background.jpg');
  background-attachment: fixed;
}

h3 {
  padding-top: 50px;
}

.headshot {
  height: 500px;
  width: 400px;
  border-radius: 200px;
  border: 2px solid #ed79bf;
}

.about {
  height: 85vh;
}

.about-text {
  text-align: justify;
  margin-right: 100px;
}

.photo {
  float: left;
  width: calc(50% - 10px);
  text-align: center;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  width: calc(46% - 10px);
  padding: 0px;
}

/* #icon {
  font-size: 50px;
  text-shadow: 0 0 10px #ed79bf;
  letter-spacing: 40px;
  color: white;
  border: 1px solid #ed79bf;
  border-radius: 10px;
  margin: 5px 0px 0px 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100px;
} */

#icon {
  color: #ed79bf;
  font-size: 70px;
  text-shadow: 0 0 5px #ed79bf;
  letter-spacing: 40px;
  /* border: 1px solid #ed79bf;
  border-radius: 10px; */
  margin: 5px 0px 0px 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100px;
}

.label {
  letter-spacing: normal;
  padding: 0px 0px 10px 50px;
}

.contact-list {
  display: flex;
  flex-direction: column;
}

h4 {
  font-size: 40px;
  color: white;
  text-shadow: 0 0 10px #ed79bf;
  margin-bottom: 20px;
}

.about-title {
  font-size: 30px;
  color: white;
  text-shadow: 0 0 10px #ed79bf;
  text-align: center;
}

h6 {
  font-size: 20px;
  color: #ed79bf;
}

p {
  color: #ed79bf;
}

.image-three {
  height: 70vh;
  width: 30%;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  /* padding: 0px 15px; */
  max-height: 100vh;
  display: flex;
}

.project-info {
  margin-bottom: 20px;
}

a.button {
  text-decoration: none;
  color: #ed79bf;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 0 5px #ed79bf;
  padding: 5px 30px;
  margin-bottom: 20px;
  margin-right: 4px;
  font-family: 'Heebo', sans-serif;
}

.project-image {
  width: 55%;
  height: 70vh;
  margin-left: 20px;
}

.project-text {
  display: block;
  flex-basis: 0;
  flex-grow: 3;
  padding-right: 30px;
  height: 50vh;
  text-align: justify;
}

.project {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px;
  padding: 20px;
  text-align: center;
}


#footer {
  height: 30vh;
  text-align: center;
  }

#footer-title {
  padding: 10px;
  margin: 0px 10px 0px 10px;
}

.contact {
  /* border: 5px solid white; */
  /* -webkit-box-shadow: 0 0 10px #ed79bf;
  box-shadow: 0 0 10px #ed79bf; */
  text-align: center;
  width: 750px;
  height: 200px;
  display: inline-block;
  margin: 10px;
}

.contact-icons {
  color: white;
}

.fa-envelope, .fa-github-square, .fa-linkedin {
  color: white;
}
